
<%# <body> %>
  <div class="background-color" > 
    </div>
    <div class="blog-box">
      <div class="title-box">タイトル
        </div>
      <div class="text-box">テキスト
        </div>
      </div>
    
<%# </body> %>